@font-face {
  font-family: "Exo 2";
  src: url("./fonts/exo-2-v10-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/exo-2-v10-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("./fonts/exo-2-v10-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/exo-2-v10-latin_cyrillic-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("./fonts/exo-2-v10-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/exo-2-v10-latin_cyrillic-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("./fonts/exo2black.woff2") format("woff2"), url("../fonts/exo2black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/Notosansdisplaymedium.woff2") format("woff2"), url("../fonts/Notosansdisplaymedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/Notosansdisplaysemibold.woff2") format("woff2"), url("../fonts/Notosansdisplaysemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
