// colors

$general_text_color: #333333;
$description_text_color: #505050;
$bg_related_products_color: #EEF1F5;
$bg_main_color: #FFFFFF;
$border_color: #E2E2E2;
$firm_color: #FFC700;
$bread_crumbs_color: #767676;
$login_link_color: #808080;
$link_color: #333333;
$footer_color: #1F324A;
$footer_credits_color: #1A2B41;
$footer_list_title_color: #C0D9FF;
$footer_link_color: #6783AC;
$footer_contacts_color: #B8C9E2;
$footer_social_bg_color: #364B6A;
$filters_border_color: #E0E8EF;
$filters_button_color: #E9F2FA;
$filters_body_color: #F6F6F6;
$filters_reset_button_border_color: #FF9900;
$filters_switch_color: #EAEAEA;
$filters_submit_button: #16C23C;
$header_color: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 64.14%),
linear-gradient(0deg, rgba(255, 255, 255, 0) -4.56%, #FFFFFF 100%),
radial-gradient(54.77% 207.12% at 11.18% 0%, #ECECEC 0%, #F5F5F5 100%);

// sizes

$desktop_content_width: 1120px;
$general_font_size: 14px;
